:root {
    --primary-blue: #007bff;
    --bg-light: #f8faff;
    --text-dark: #333;
    --text-muted: #777;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
    direction: rtl;
   
}

.container {
    
    margin: 0 auto;
    padding-bottom: 10px;
    
}