.action-grid {
display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background: #fff;

    bottom: 0px;
    left: 0;
    width: 100%;
    border-radius: 12px;

}

.action-card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition: 0.3s;
}

.action-card:hover {
    background: #f0f7ff;
}

.icon-box {
    width: 25px;
        height: 25px;
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
}

.icon-box.blue {
    background: #eef6ff;
    color: #007bff;
}

.icon-box.light-blue {
    background: #f0f7ff;
    color: #33a1ff;
}
