.settings-container {
    padding: 0 20px;
}

.settings-group {
    background: var(--white);
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
    overflow: hidden;
    margin: 10px 0px;
}

.settings-item {
    display: flex;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.5s;
    margin: 10px;
    border-radius : 15px;
}


.settings-item:hover{
    border: 1px solid #007bff;
        /* transform: scale(1.0001); */
}
.border-bottom {
    border-bottom: 1px solid var(--border-light);
}

.item-content {
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-label {
    font-size: 15px;
    color: var(--text-dark);
    margin-right: 12px;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    background: #eff6ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-blue);
}

.sub-value {
    color: var(--text-gray);
    font-size: 14px;
    margin-left: auto;
    margin-right: 10px;
}

.arrow-left {
    color: #cbd5e1;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}